<configuration>
	<system.webServer>
		<defaultDocument enabled="true">
			<files>
				<add value="home.html" />
			</files>
		</defaultDocument>
		<staticContent>
			<clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="0.00:00:01" />
		</staticContent>
	</system.webServer>
</configuration>